{% extends 'base.html.twig' %}

{% block title %}Evenement filtré par montant{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center mb-4">Evenement:</h1>  <div id="google_translate_element"></div>
    <div id="google_translate_element">
        <button onclick="speakSelectedText()">Lire en vocal</button>
        <button onclick="stopSpeaking()">Arrêter</button>
    </div>
    
    <script type="text/javascript">
        var currentUtterance = null;
    
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
        }
    
        function speakSelectedText() {
            var selectedText = window.getSelection().toString();
            if (selectedText) {
                stopSpeaking();
                currentUtterance = new SpeechSynthesisUtterance(selectedText);
                window.speechSynthesis.speak(currentUtterance);
            } else {
                alert("Veuillez sélectionner du texte pour le lire à voix haute.");
            }
        }
    
        function stopSpeaking() {
            if (currentUtterance !== null) {
                window.speechSynthesis.cancel();
                currentUtterance = null;
            }
        }
    
        function selectLanguage(languageCode) {
            var select = document.querySelector('.goog-te-combo');
            for (var i = 0; i < select.options.length; i++) {
                var option = select.options[i];
                if (option.value === languageCode) {
                    select.selectedIndex = i;
                    select.dispatchEvent(new Event('change'));
                    break;
                }
            }
        }
    </script>
    
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <img src="" />
<div class="container">
    <h1 class="text-center mb-4">Evenement filtré par montant</h1>

    <section class="blog_area">
        
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        {% for evenement in evenement %}
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <a href="{{ path('detailevent', {'id': evenement.getId()}) }}">
                                    <img class="card-img rounded-0" style="width: 50%;" width="40px" src="{{ evenement.image }}" alt="Event Image">
                                </a>
                            </div>
                            <div class="blog_details">
                                <a class="d-inline-block" href="{{ path('detailevent', {'id': evenement.getId()}) }}">
                                    <h2>{{ evenement.nom }}</h2>
                                    <h2>{{ evenement.montant }}</h2>
                                </a>
                            </div>
                        </article>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
